.phone {
  background-color: #FDEB75;
}
.bar-container{
   background-color: #000000;
   height: 100%;
   color: white;
}
.background-logo-container{
}
.background-image{

}

.icon-image-container{

}
.icon-image{

}

.information-container{

}
.name{

}
.address{

 }
.min-age{

}                                                                                                               <div class="music-container">
.music{

}
.description-container{

}
.description{

}
.menu-container{

}
.menu{

}
.images-collection-container{

}
.images-collection{

}

