.title {
  margin-top: 3%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  text-align: center;
  font-family: Helvetica, Verdana, sans-serif;
}

.parties-list {
  margin: 5%;
}

.parties-list ul {
  padding: 0;
  list-style: none;
}

.parties-list ul li  {
  margin: 1%;
  width: 250px;
  height: 55px;
  background-color: rgba(30,144,225,0.3);

  position: relative;
  font-family: Helvetica, Verdana, sans-serif;
}

.parties-list ul li:hover{
  background: #eee;
  cursor: pointer;
}