.profile-container {
  font-family: Helvetica, Verdana, sans-serif;
}

.text-center {
  text-align: center;
}

.primary-info {
  margin-top: 5%;
}

.profile-picture-container {
  /*margin-bottom: 2px;*/
}

.profile-picture {
}

.user-name {
  font-size: 17px;
}

.fb-logout {
  color: white;
}

.description {
  font-size: 15px
}