
#z-my-night-ctrl h2 {
  color: red;
}

 * {margin: 0; padding: 0;}


.navigation-image {
  width: 320;
  margin-left: 3%;
}

.navigation-bar {
   margin-bottom: 8px;
   margin-top: 10px;
   width: 320px;
}

.filter-tab {
  width: 42%;
  height: 4%;
}

.filter-tab-up {
  position: absolute;
  /*border: 1px solid pink;*/
  top: 24px;
  width: 48%;
  right: 0;
}

.filter-tab-down {
  position: absolute;
  /*border: 1px solid pink;*/
  top: 24px;
  left: 0;
}

.attractions-list {
  margin: 15px;
  padding-right: 60px;
  padding-left: 50px;
}
.attractions-list ul {
  position: relative;
  left: -8%;
}

.attractions-list ul li  {
  margin: 5px;
  width: 250px;
  height: 55px;
  overflow: auto;
  background-color: rgba(30,144,225,0.3);

}
.attractions-list ul li:hover{
  background: #eee;
  cursor: pointer;
}


.attractions-list h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  float: right;
  position: relative;
  bottom: 18px;
  right: 10px;
  /*float: sright;*/
}

.attractions-list li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}


.bar {
  }

.party {
}

.logo {
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0,0,0,0.8);
  position: relative;
  top: -14px;
  left: 8px;
  float: left;
}

.attractions-sorter {
  position: absolute;
  bottom: 0.5%;
  left:20%;
}


.attractions-sorter span {
  float:left;
  padding-top: 20px;
  position: relative;
  top:-10px;
  left: -20px;
}

.attractions-sorter ul {
  float: right;
}

.attractions-sorter ul li {
  display: inline-block;
  width: 60px;
}