.navigation-tabs {
  margin-left: 3%;
}

.filter-tab {
  position: absolute;
  top: -1px;

  width: 42%;
  height: 27px;
}

.filter-tab-parties {
  /*border: 1px solid pink;*/
  right: 10px;
}

.filter-tab-bars {
  /*border: 1px solid pink;*/
  left: 10px;
}

.attractions-list {
  margin: 15px;
  padding-right: 60px;
  padding-left: 50px;
}
.attractions-list ul {
  position: relative;
  left: -8%;
  padding: 0;
  list-style: none;
}

.attractions-list ul li  {
  margin: 2%;
  width: 250px;
  height: 55px;
  background-color: rgba(30,144,225,0.3);

  position: relative;
  font-family: Helvetica, Verdana, sans-serif;
}

.attractions-list ul li:hover{
  background: #eee;
  cursor: pointer;
}

.attr-logo {
  position: absolute;
  top: 9%;
  left: 3%;

  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0,0,0,0.8);
}

.attr-name {
  position: absolute;
  top: 10%;
  right: 4%;

  font-size: 18px;
  font-weight: bold;
}

.attr-address {
  position: absolute;
  bottom: 10%;
  right: 4%;

  font-size: 13px;
}

/*.attractions-sorter {
  position: absolute;
  bottom: 0.5%;
  left:20%;
}


.attractions-sorter span {
  float:left;
  padding-top: 20px;
  position: relative;
  top:-10px;
  left: -20px;
}

.attractions-sorter ul {
  float: right;
}

.attractions-sorter ul li {
  display: inline-block;
  width: 60px;
}*/