<div class="phone">

  <!--<h1>TOTAH</h1>-->
  <!--<div>{{bar.name}}</div>-->
  <!--<div>{{bar._id}}</div>-->
  <!--<div>{{bar.min_age}}</div>-->
    <!---->
<div class="bar-container">
 <div class="background-logo-container">
     <img class="background-image" src="../images/bar/background-logo.png">
 </div>
    <div class="icon-image-container">
        <img class="icon-image" ng-src={{bar.logo_url}}>
        <span class="min-age">{{bar.min_age}}+</span>
    </div>
    <div class="information-container">
        <span class="name">{{bar.name}}</span>
        <span class="address">{{bar.address}}</span>
        <!--<span class="number">number</span>-->
    </div>
    <div class="extra-info-container">
       <span class="music">Rock</span>
       <div class="description-container">
          <p class="description">texttext</p>
       </div>
    </div>
    <div class="menu-container">
        <img class="menu" ng-src={{bar.menu}}>>
    </div>
    <div class="images-collection-container">
      <div class="images-collection">
      </div>
    </div>

</div>



</div>
